:root {
  --chat-list-width: 250px;
  --chat-title-height: 75px;
  --chat-content-width: 700px;
}

#user_message {
  width: 100%;
  height: 10em;
}

#send_button {
  width: 80px;
  display: inline;
}

#chat_bottom{
  background-color: #343541;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#chat_input_container {
  width: var(--chat-content-width);
  display: block;
}

#chat_history {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#chat_title{
  height: var(--chat-title-height);
  background-color: #202123;
}

#the_page{
  margin-left: calc(var(--chat-list-width) + 20px);
  justify-content: center;
  align-items: center;
}

#message_entry{
  display: flex;
}

#chats_list {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--chat-list-width);
  overflow-y: auto;
  padding: 10px;
  background-color: #202123;
}

#reset_button {
  margin-top: 20px;
}

#user_message.locked {
  background-color: #ccc;
  pointer-events: none;
}

body {
  font-size: 18px;
  line-height: 1.5;
  background-color: #444654;
  color: #ffffff;
}
body.loading {
  cursor: progress;
}

.file-content {
    border: 1px solid #ddd;
    margin: 5px 0;
    background-color: #2f2d2d;
}

.file-header {
    background-color: #310606;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

.file-body {
    padding: 5px;
    white-space: pre-wrap;
    font-family: monospace;
}

.user-message-line,
.bot-message-line {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-message-line {
    background-color: #343541;
}
.bot-message-line {
    background-color: #444654;
}

.chat-icon {
    margin-right: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
}

.message-content {
    overflow-wrap: break-word;
    width: var(--chat-content-width);
}

pre code {
    display: block;
    background-color: #030303;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: monospace;
    font-size: 14px;
    overflow-x: auto;
    color: #ffffff;
}

.old-chat-title {
    cursor: pointer;
    color: #ffffff;
    text-decoration: underline;
}

.highlighted-chat {
    background-color: #343541;
}