:root {
  --chat-list-width: 220px;
  --chat-content-width: 700px;
  --chat-user-color: #343541;
  --chat-list-color: #202123;
  --chat-bot-color: #444654;
  --code-block-color: #030303;
  --code-title-color: #413434;
}

#user_message {
  width: 100%;
  height: 10em;
}

#send_button {
  width: 80px;
  display: inline;
}

#chat_bottom{
  padding: 20px;
  background-color: var(--chat-user-color);
  width: 100%;
  justify-content: center;
  align-items: center;
}

#chat_input_container {
  width: var(--chat-content-width);
  display: block;
}

#chat_history {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#chat_title{
  background-color: var(--chat-list-color);
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#the_page{
  margin: 0px;
  margin-left: calc(var(--chat-list-width) + 40px);
  justify-content: center;
  align-items: center;
  padding: 0px;
}

#message_entry{
  display: flex;
}

#chats_list {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--chat-list-width);
  overflow-y: auto;
  padding: 20px;
  background-color: var(--chat-list-color);
}

#reset_button {
  margin-top: 20px;
}

#user_message.locked {
  background-color: #ccc;
  pointer-events: none;
}

body {
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--chat-bot-color);
  color: #ffffff;
  margin: 0px;
  padding: 0px;
}
body.loading {
  cursor: progress;
}

a {
  color: #ffffff; /* Desired link color */
  text-decoration: none; /* Remove underline */
}
a:visited {
  color: #ffffff; /* Desired link color for visited links */
}

.list-icon {
  vertical-align: middle;
  padding: 3px;
  margin-right: 5px;
}

.user-message-line,
.bot-message-line {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-color: #000000;
}
.user-message-line {
    background-color: var(--chat-user-color);
}
.bot-message-line {
    background-color: var(--chat-bot-color);
}

.chat-icon {
  justify-content: center;
  align-items: center;
  vertical-align: top;
  margin: 20px;
  align-self: flex-start;
  overflow: hidden;
  display: inline-block;
  width: 64px;
  height: 64px;
}

.message-content {
    overflow-wrap: break-word;
    width: var(--chat-content-width);
}

.file-content {
  display: block;
  background-color: var(--code-block-color);
  border: 0px;
  border-radius: 10px;
  padding: 0px;
  color: #ffffff;
  overflow-x: auto;
}

.file-header {
  padding: 5px;
  background-color: var(--code-title-color);
  cursor: pointer;
}

.file-body {
  padding: 5px;
  font-size: 14px;
  white-space: pre;
  font-family: monospace;
  overflow-x: auto;
}

pre code {
  display: block;
  background-color: var(--code-block-color);
  border: 0px;
  border-radius: 10px;
  padding: 0px;
  font-family: monospace;
  font-size: 14px;
  overflow-x: auto;
  color: #ffffff;
}

.code{
  padding: 5px;
}

pre code div.codeblock-title {
  background-color: var(--code-title-color);
  padding: 5px;
  font-weight: bold;
}

.chat-title {
    cursor: pointer;
    color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    margin: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.highlighted-chat {
    background-color: var(--chat-user-color);
}