{% macro block_header(header) %}
  <div class="element-block">
      <div class="element-header">
          <h2>{{ header }}</h2>
      </div>
      <div class="element-content">
{% endmacro %}

{% macro block_footer() %}
      </div>
  </div>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}{% endblock %}
    </title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="static/styles.css">
  </head>
  <body>
    <div id="chat_title">
      <div id="menu_icon"></div>
      <div id="chat_title_inner"></div>
    </div>
    <div id="chats_list">
      <div id="list_head"></div>
      <div id="list_container"></div>
      <div id="list_end"></div>
    </div>
    <div id="the_page">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>