{% extends "base.html" %}

{% block title %}
    Overburn - Page Hits
{% endblock %}

{% block head %}
    <style>
        /* Styles for the table on /count page */
        .hits_table {
        margin: 0 auto; /* Centers the table */
        width: 500px; /* Adjust width as needed */
        border-collapse: collapse; /* Removes space between table cells */
        background: #444654; /* Background color */
        }

        .hits_table th, .hits_table td {
        padding: 10px; /* Spacing inside cells */
        text-align: center; /* Center-align text */
        }

        .hits_table th {
        background: #202123; /* Header background color */
        color: antiquewhite; /* Header text color */
        }

        .hits_table td {
        color: antiquewhite; /* Cell text color */
        }
    </style>
{% endblock %}

{% block content %}
    <div class = 'element-block'>
        <p>{{total_unique}} total unique visitors</p>
    </div>

    {{ block_header('Page Hits')}}
        <table class="hits_table">
            <tr>
                <th>Page</th>
                <th>Hits</th>
            </tr>
            {% for page, hits in page_hits %}
            <tr>
                <td>{{ page }}</td>
                <td>{{ hits }}</td>
            </tr>
            {% endfor %}
        </table>
    {{ block_footer() }}

    {{ block_header('Image Hits')}}
        <table class="hits_table">
            <tr>
                <th>Image Page</th>
                <th>Hits</th>
            </tr>
            {% for page, hits in page_hits_images %}
            <tr>
                <td><a href="{{ page }}">{{ page }}</a></td>
                <td>{{ hits }}</td>
            </tr>
            {% endfor %}
        </table>
    {{ block_footer() }}

    {{ block_header('Invalid hits')}}
        <table class="hits_table">
            <tr>
                <th>Page</th>
                <th>Hits</th>
            </tr>
            {% for page, hits in page_hits_invalid %}
            <tr>
                <td>{{ page }}</td>
                <td>{{ hits }}</td>
            </tr>
            {% endfor %}
        </table>
    {{ block_footer() }}
    
{% endblock %}
