{% extends "base.html" %}

{% block title %}chat.overburn.dev{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="static/prism.css">
{% endblock %}

{% block content %}
    <div id="chat_history"></div>
    <div id="chat_bottom">
      <div id="chat_input_container">
        <div id="file_upload">
          <input type="file" id="codeFiles" multiple accept=".txt, .js, .py, .java, .c, .cpp, .h, .html, .css, .xml, .json, .csv, .md, .sh, .bat, .cmd, .sql, .ini, .cfg, .conf, .log" style="display:none;" onchange="handleFiles()">
          <button id="uploadButton" onclick="document.getElementById('codeFiles').click()">Attach Files</button>
        </div>
        <div id="message_entry">
          <textarea id="user_message"></textarea>
          <button id="send_button" onclick="sendMessage()">Send</button>
        </div>    
      </div>
    </div> 
    <script src="static/prism.js"></script>
    <script src="static/script.js"></script>
    <script src="static/api.js"></script>
    <script src="static/chat_edit.js"></script>
    <script src="static/chat_history.js"></script>
    <script src="static/files.js"></script>
{% endblock %}