<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Overburn's Webserver</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <img src ='favicon.ico'><h1>OpenAI API Chat</h1>
  <div id="old_chats_list"></div>
  <div id="chat_history"></div>
  <button id="uploadButton" onclick="handleFiles()">Upload Files</button>
  <input type="file" id="codeFiles" multiple>
  <div id="chat_input_container">
      <textarea id="user_message"></textarea>
      <button id="send_button" onclick="sendMessage()">Send</button>
  </div>
  <a href="/view_count">View IP Connection Counts</a>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>