<!DOCTYPE html>
<html>
<head>
<title>Business Names</title>
</head>
<body>
<table>
<thead>
<tr>
<th>Business Legal Name</th>
<th>Website</th>
</tr>
</thead>
<tbody>
<tr>
<td>Ayrloom</td>
<td><a href="http://www.ayrloom.com">www.ayrloom.com</a></td>
</tr>
<tr>
<td>Beak & Stiff</td>
<td>-</td>
</tr>
<tr>
<td>Gen V Growers LLC</td>
<td>-</td>
</tr>
<tr>
<td>Gen V Labs (DBA)</td>
<td><a href="http://www.ayrloom.com">www.ayrloom.com</a></td>
</tr>
<tr>
<td>Lifted NY Corp.</td>
<td>-</td>
</tr>
<tr>
<td>Electraleaf</td>
<td><a href="http://www.electraleaf.com">www.electraleaf.com</a></td>
</tr>
<tr>
<td>Hepworth Ag, Inc.</td>
<td>-</td>
</tr>
<tr>
<td>Jetty Extracts</td>
<td>-</td>
</tr>
<tr>
<td>Highline Brands NY</td>
<td><a href="http://www.jettyextracts.com">www.jettyextracts.com</a></td>
</tr>
<tr>
<td>Heavy Hitters</td>
<td>-</td>
</tr>
<tr>
<td>processed by Gen V</td>
<td><a href="http://www.heavyhitters.co">www.heavyhitters.co</a></td>
</tr>
<tr>
<td>HPI Canna, Inc</td>
<td><a href="http://www.hpifarma.com">www.hpifarma.com</a><br><a href="http://www.hpicanna.com">www.hpicanna.com</a></td>
</tr>
<tr>
<td>7 Seaz Premium Cannabis</td>
<td><a href="http://www.7seazco.com">www.7seazco.com</a></td>
</tr>
<tr>
<td>produced by HPI Canna, Inc</td>
<td><a href="http://www.7seazco.com">www.7seazco.com</a></td>
</tr>
<tr>
<td>Drew Martin</td>
<td><a href="http://www.drewmartin.co">www.drewmartin.co</a><br><a href="http://www.aperturebrands.com">www.aperturebrands.com</a></td>
</tr>
<tr>
<td>MFNY Operations LLC</td>
<td><a href="http://www.mfny.co">www.mfny.co</a></td>
</tr>
<tr>
<td>MFNY Processor LLC</td>
<td><a href="http://www.mfny.co">www.mfny.co</a></td>
</tr>
<tr>
<td>Naturae LLC</td>
<td><a href="http://naturaenewyork.com/">naturaenewyork.com</a></td>
</tr>
<tr>
<td>HempChain Farms LLC</td>
<td>-</td>
</tr>
<tr>
<td>High Peaks Cannabis</td>
<td><a href="http://www.highpeaks.com">www.highpeaks.com</a><br><a href="http://www.centralprocessorsny.com">www.centralprocessorsny.com</a></td>
</tr>
<tr>
<td>TICAL - Method Man</td>
<td>-</td>
</tr>
<tr>
<td>Cirona Labs</td>
<td><a href="http://www.cironalabs.com">www.cironalabs.com</a><br><a href="http://www.hemphunterlabs.com">www.hemphunterlabs.com</a></td>
</tr>
<tr>
<td>Flowerhouse Walden LLC / DBA Flowerhouse</td>
<td><a href="http://www.flowerhouseny.com">www.flowerhouseny.com</a></td>
</tr>
<tr>
<td>Nanticoke Hemp Inc</td>
<td><a href="http://www.nanticokegardens.com">www.nanticokegardens.com</a><br><a href="http://www.nanticoke.co">www.nanticoke.co</a></td>
</tr>
<tr>
<td>NoWaveLLC</td>
<td><a href="http://www.nowave.com">www.nowave.com</a></td>
</tr>
<tr>
<td>NYHO LABS LLC</td>
<td><a href="http://www.floristfarms.com">www.floristfarms.com</a></td>
</tr>
<tr>
<td>OMO Labs</td>
<td>-</td>
</tr>
<tr>
<td>Rolling Green Cannabis</td>
<td><a href="http://www.rollinggreencannabis.com">www.rollinggreencannabis.com</a></td>
</tr>
<tr>
<td>Greener Standards Inc.</td>
<td><a href="http://www.rovebrand.com">www.rovebrand.com</a></td>
</tr>
<tr>
<td>Supernaturals Oak Queens LLC</td>
<td><a href="https://www.supernaturalsny.com/">www.supernaturalsny.com</a></td>
</tr>
<tr>
<td>Tarot Tokes</td>
<td><a href="http://www.tarottokes.com">www.tarottokes.com</a></td>
</tr>
<tr>
<td>Java Sprouts, LLC</td>
<td>-</td>
</tr>
<tr>
<td>Trucann LLC</td>
<td><a href="http://www.trucann.com">www.trucann.com</a><br><a href="http://www.getmyhi.com">www.getmyhi.com</a><br><a href="http://www.kushypunch.com">www.kushypunch.com</a><br><a href="http://www.mkxoilco.com">www.mkxoilco.com</a></td>
</tr>
<tr>
<td>ZIZ NY GRW LLC</td>
<td><a href="http://www.zizzlecannabis.com">www.zizzlecannabis.com</a></td>
</tr>
<tr>
<td>1906</td>
<td><a href="http://www.1906.shop">www.1906.shop</a></td>
</tr>
<tr>
<td>(Weekenders) Torrwood Farm LLC</td>
<td><a href="http://www.weekenderscannabis.com">www.weekenderscannabis.com</a><br><a href="http://www.torrwoodfarm.com">www.torrwoodfarm.com</a></td>
</tr>
<tr>
<td>Glenna & Co LLC</td>
<td><a href="https://glennas.com">https://glennas.com</a></td>
</tr>
<tr>
<td>Aeterna (DBA) Aeterna Cannabis LLC</td>
<td><a href="http://www.aeternacannabis.com">www.aeternacannabis.com</a></td>
</tr>
<tr>
<td>All In One Extracting & Product Manufacturing LLC</td>
<td><a href="http://www.ai1ny.com">www.ai1ny.com</a></td>
</tr>
<tr>
<td>Empire Hemp Co.</td>
<td><a href="http://www.empirehempco.com">www.empirehempco.com</a></td>
</tr>
<tr>
<td>FLWR City Collective LLC FLWR City LLC Gflower LLC</td>
<td><a href="https://flwr.city">https://flwr.city</a></td>
</tr>
<tr>
<td>Chime & Chill</td>
<td><a href="http://www.chimeandchill.com">www.chimeandchill.com</a></td>
</tr>
<tr>
<td>Grateful Valley Farms</td>
<td>-</td>
</tr>
<tr>
<td>Bristol Extracts</td>
<td><a href="http://www.bristolextracts.com">www.bristolextracts.com</a></td>
</tr>
<tr>
<td>Adirondack Hemp Company, Inc</td>
<td><a href="https://www.adkhempco.com/">www.adkhempco.com</a></td>
</tr>
</tbody>
</table>
</body>
</html>